node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
#ignore dump files
dump
/votechain
.env
# Hardhat Ignition default folder for deployments against a testnet
ignition/deployments/chain-5
# Hardhat Ignition default folder for deployments against a mainnet
ignition/deployments/chain-1
